{% extends 'base.html' %}

{% block title %}Статьи{% endblock %}

{% block content %}
    {% for article in article_list %}
        <div class="card mb-3 mt-2" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if article.image %}
                        <div class="img-wrapper">
                            <img src="{{ article.image.url }}" class="card-img" alt="{{ article.image.name }}">
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">
                            <a href="{% url 'webapp:article_detail' article.pk %}" class="card-link">{{ article.title }}</a>
                        </h2>
                        <p class="card-text">{{ article.text }}</p>
                        <p class="card-text">
                            <small class="text-muted">{{ article.author }} | {{ article.created_at }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}