{% extends 'base.html' %}

{% block title %}Автор{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        <a href="{% url 'webapp:author_update' author.pk%}" class="btn btn-success mt-2">Редактировать</a>
        <a href="{% url 'webapp:author_delete' author.pk%}" class="btn btn-danger mt-2">Удалить</a>
    {% endif %}
    <div class="row">
        <div class="card-body col-sm-8">
            <h1 class="text-center">Биография</h1>
            <p class="text">{{ author.biography }}</p>
        </div>
        <div class="col-sm-4 mt-2" style="width: 18rem;">
        <div class="card-title text-center"><h2>{{ author.full_name }}</h2>
            {% if author.photo %}
                <img src="{{ author.photo.url }}" class="card-img-top" alt="{{ author.photo.name }}">
            {% endif %}
        </div>
        </div>
    </div>
     <h2 class="card-title">Книги данного автора:</h2>
    {% for book in author.author.all %}
        <div class="list-group mt-2">
        <a href="{% url 'webapp:book_detail' book.pk %}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-1">{{ book.title }}</h4>
                {% if book.publish_year %}:
                    <small class="text-muted">Год выхода: {{ book.publish_year }}</small>
                {% endif %}
            </div>
            <small class="text-muted">{{ book.description }}</small>
        </a>
    </div>
    {% endfor %}

{% endblock %}