{% extends 'base.html' %}

{% block title %}Автор{% endblock %}

{% block content %}
    <a href="{% url 'webapp:author_update' author.pk%}" class="btn btn-primary m-2">Редактировать</a>
    <div class="row">
        <div class="card-body col-sm-8">
            <p class="text">{{ author.biography }}</p>
        </div>
        <div class="col-sm-4 mt-2" style="width: 18rem;">
            {% if author.photo %}
                <img src="{{ author.photo.url }}" class="card-img-top" alt="{{ author.photo.name }}">
            {% endif %}
        </div>
    </div>
{% endblock %}