{% extends 'base.html' %}
{% load static %}

{% block title %}Авторы{% endblock %}

{% block content %}
    <div class="row">
    {% for book in book_list %}
        <div class="card m-2" style="max-width: 540px;">
            <div class="row no-gutters">
                {% if book.cover %}
                    <div class="col-md-6">
                        <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.cover.name }}">
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <img src="../../uploads/no-image.png" class="card-img" alt="Заглушка">
                    </div>
                {% endif %}
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'webapp:book_detail' book.pk %}" class="nav-link">{{ book.title }}</a>
                        </h5>
                        <p class="card-text">
                            <small class="text-muted">{{ book.publish_year }}</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}